{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Likha - Home</title>
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
</head>
<body>
    <h1>Welcome, {{ user.username }}!</h1>
    <p>This is your HOME SCREEN.</p>

    <nav>
        <a href="{% url 'profile:profile' %}">Profile</a>
        <a href="{% url 'user_settings:settings' %}">Settings</a>
        <a href="{% url 'login:logout' %}">Logout</a>
    </nav>

    <script src="{% static 'js/home/home.js' %}"></script>
</body>
</html>
